.bg-image {
  background-image: url("../../assets/duo-condos-screenshot_7891.jpg");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}
