.bg-image {
  background-image: url("C:\Users\USER\Telegram-Clone\frontend\src\assets\duo-condos-screenshot_7891.jpg");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
}
